
.form-container {
    display: flex;
    flex-direction: column;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

form {
    margin-top: 20px;
    max-width: 25vw;
    padding: 15px;
    border-radius: 10px;
    background: aliceblue;
}

form > label, input {
    margin-bottom: 10px;
}